
<div class="section-header">
    <h1>Danh sách thương hiệu</h1>
    <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a asp-action="Index" asp-controller="Home">Trang chủ</a></div>
        <div class="breadcrumb-item">Thương hiệu</div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>Danh sách Thương hiệu</h4>
                <div class="card-header-action">
                    <a routerLink="/Brand/Add"  class="btn btn-info"><i class="fas fa-plus"></i> Thêm thương hiệu </a>
                    
                 
                </div>
            </div>
            <div class="card-body p-0">
              
                
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                            <tr class="text-left">
                                <th scope="col">
                                    <div class="custom-checkbox custom-control">
                                        <input type="checkbox" class="custom-control-input" id="ckkAll">
                                        <label class="custom-control-label" for="ckkAll"></label>
                                    </div>
                                </th>
                                <th>Hình Ảnh</th>
                               
                                <th scope="col" class="text-dark text-deconration-none">
                                    <a class="a-sort" href="">Tên Thương hiệu <i class='fas fa-sort'></i></a>
                                </th>
                            
                                <th scope="col">Hành động</th>
                            </tr>
                           
                                <tr *ngFor="let brand of getBrands">
                                    <td>
                                        <div class="custom-checkbox custom-control">
                                            <input type="checkbox" class="custom-control-input chk-item" value="@item.ID" id="ckkAll_@item.ID">
                                            <label class="custom-control-label" for="ckkAll_@item.ID"></label>
                                        </div>
                                    </td>
                                   
                                        
                                            <td class="text-left">
                                                <img class="img-thumbnail" src="{{brand.image}}" height="150" width="150" />
                                            </td>
                                       
                     
                                   
                                    <td class="text-left">
                                        {{brand.brandName}}
                                   
                                        
                                    </td>
                                    
                                    <td>
                                        <a style="width: 100%;" routerLink="Edit/{{brand.brandID}}" class="btn btn-primary d-inline d-sm-block m-sm-1" data-toggle="tooltip" title="Sửa" data-placement="bottom"><i class="fas fa-pencil-alt"></i></a>
                                       
                                        <button style="width: 100%;" (click)="openDialogWithTemplateRef(myDialog,brand.brandID,brand.brandName)" class="btn btn-danger  d-inline d-sm-block m-sm-1" data-toggle="tooltip" title="Xóa" data-placement="bottom"><i class="fas fa-trash"></i></button>
                                       
                                    </td>
                                </tr>
                           
                                  <br>
                                 
                               
                                  <!-- Dialog template -->
                                  <ng-template #myDialog let-data>
                                    <h2 matDialogTitle>Xóa thương hiệu </h2>
                                    <mat-dialog-content>
                                      <p>Bạn có chắc muốn xóa thương hiệu  {{data.brandName}}</p>
                                    </mat-dialog-content>
                                    <mat-dialog-actions align="end">
                                        <button mat-button matDialogClose="no">Hủy</button>
                                      <button  mat-raised-button  color="warn"  matDialogClose  (click)="handleDelete(data.brandID)" >Xóa</button>
                                    </mat-dialog-actions>
                                  </ng-template>
                                  <!-- Dialog template #2 -->
                              
                                  
                        </tbody>
                   
                    </table>
                </div>
            </div>
            
           
            <div class="card-footer data_paginate text-left">
              
            </div>
         
        </div>
    </div>
</div>

<!-- <button mat-raised-button (click)="openDialog('0ms', '0ms')">Open dialog without animation</button> -->
