
<div class="section-header">
    <h1>Chi tiết</h1>
    <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a href="#">Trang chủ</a></div>
        <div class="breadcrumb-item">Chi tiết</div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card shadow">
             <div class="card-header">
                <h4>Chi tiết thông tin liên hệ</h4>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                            <div class="card-body">
                                <div class="form-group">
                                    <label asp-for="Subject" class="col-md-3 control-label"></label>
                                    <div class="col-md-12">
                                        <input asp-for="Subject" class="form-control"  type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="LastName" class="col-md-3 control-label"></label>
                                    <div class="col-md-12">
                                        <input asp-for="LastName" class="form-control"  type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FirstName" class="col-md-3 control-label"></label>
                                    <div class="col-md-12">
                                        <input asp-for="FirstName" class="form-control"  type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Email" class="col-md-3 control-label"></label>
                                    <div class="col-md-12">
                                        <input asp-for="Email" class="form-control"  type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Phone" class="col-md-3 control-label"></label>
                                    <div class="col-md-12">
                                        <input asp-for="Phone" class="form-control"  type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Message" class="col-md-3 control-label"></label>
                                    <div class="col-md-12"> 
                                        <textarea asp-for="Message" class="form-control" rows="10" cols="150"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-right">
                                    <div class="bu-group">
                                        <div class="form-group-center" id="text-center">
                                            <a asp-action="Index" asp-controller="Contacts" class="btn btn-primary"><i class="fa fa-arrow-left"></i> Quay lại</a>
                                        </div>
                                    </div>
                              </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
</div>
