

<div class="section-header">
    <h1>Sửa cài đặt</h1>
    <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a asp-action="Index" asp-controller="Home">Trang chủ</a></div>
        <div class="breadcrumb-item">Sửa cài đặt</div>
    </div>
</div>

<form asp-action="Index" asp-controller="Settings" method="post" class="basic-form validate">
  
    <div class="needs-validation">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Thông tin cài đặt</h4>
                    </div>
                    <form action="" [formGroup]="AboutFormEdit" (submit)="OnSubmit()">
                        
                    <div class="card-body">
                                          
                        
                    
                        <div class="form-group mb-3">
                            <label class="col-md-3">Tiêu đề</label>
                            <div class="col-md-12">
                                <input name="MetaTitle" formControlName="tilte" class="form-control" id="producttranslate_metatitle" name="MetaTitle" placeholder="Tiêu đề  " type="text" value="">
                                <span class="field-validation-valid"  data-valmsg-for="producttranslate.metatitle" data-valmsg-replace="true"></span>
                        </div>
                       
                        <div class="form-group mt-3">
                            <label class="col-md-3">Facebook</label>
                            <div class="col-md-12">
                                <input name="Facebook"  formControlName="facebook" class="form-control" id="producttranslate_metatitle" name="Facebook" placeholder="Facebook" type="text" value="">
                                <span class="field-validation-valid" data-valmsg-for="producttranslate.metatitle" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <label class="col-md-3">Zalo</label>
                            <div class="col-md-12">
                                <input name="Zalo" formControlName="zalo" class="form-control" id="producttranslate_metatitle" name="Zalo" placeholder="Zalo" type="text" value="">
                                <span class="field-validation-valid" data-valmsg-for="producttranslate.metatitle" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                     
                        
                       
                      
                      
                      
                        
                        <div class="form-group">
                            <label name="About" class="col-md-3">Mô tả về cửa hàng</label>
                            <div class="col-md-12">
                                <textarea name="About" formControlName="description" class="form-control input-md" rows="3" placeholder="Về công ty"></textarea>
                                <span asp-validation-for="About" class="text-danger"></span>
                            </div>
                        </div>
                      
                       
                    </div>
                    <div class="card-footer text-right">
                        <a  class="btn btn-flat btn-xs btn-danger mr-3"><i class="fas fa-undo"></i> Hủy</a>
                        <button type="submit" class="btn btn-flat btn-xs btn-primary"><i class="fas fa-check"></i> Lưu thay đổi </button>
                    </div>
                </div>
                    </form>
            </div>
        </div>
    </div>
    </div>
</form>



