<div id="app">
    <div class="main-wrapper main-wrapper-1">
        <div class="navbar-bg"></div>
        <app-sidebar></app-sidebar>
        <app-header></app-header>
   

        <div class="main-content">
            <section class="section">
                <router-outlet></router-outlet>
            </section>
           <app-modal></app-modal>
        </div>

        <!-- .container -->
        <footer class="main-footer">
            <p class="text-center">All right reserved. Development by <a href="https://fama.com.vn">Fama</a>.</p>
        </footer>
    </div>
</div>