<div class="section-header">
    <h1>Tạo Mới</h1>
    <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a href="#">Trang chủ</a></div>
        <div class="breadcrumb-item">Tạo mới</div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card shadow">
            <div class="card-header">
                <h4>Thông tin sản phẩm</h4>
            </div>
            <div class="row">
    
               <div class="col-md-12">
                   <form  [formGroup]="ProductFormCreate" method="post" (ngSubmit)="HanldeUpload()" class="form-horizontal row-border" method="post" enctype="multipart/form-data">
                       
                        <div class="card-body">
                            <input name="__requestverificationtoken" type="hidden" value="blxlgjcghizjz3y8iyphk08-dc-lydjgnftb_laceseoovelgurch9vpjsolqxhp-veyogmiiez2b-fte3d7mc8ehgik1ptjzgt5fcxim_cdxamdljj0ylqzuyt2lbmv0">                        
                            <div class="form-group">
                                <label  class="col-md-3 control-label">Tên sản phẩm</label>
                                <div class="col-md-12">
                                    <input  formControlName="name" name="name" class="form-control" id="translate_title"  type="text" placeholder="Tên sản phẩm">
                                    <span asp-validation-for="Title" class="fst-italic text-danger input-validation"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-md-3 control-label"></label>
                                <div class="col-md-12">
                                  <div class="mb-2">
                                    <div class="custom-file">
                                      <input type="file"    accept=".jpeg,.png,.jpg,.gif,.svg" class="custom-file-input" id="customFile" (change)="handleFileInput($any($event.target).files)" [disabled]="working">
                                      <label class="custom-file-label" for="customFile">{{ uploadFileLabel }}</label>
                                    </div>
                                  </div>
                                  <div class="col-auto pl-sm-0">
                                    <button type="button" class="btn btn-outline-primary" ngbTooltip="Upload" (click)="HanldeUpload()" [disabled]="working">Upload</button>
                                  </div>
                                </div>
                                <div class="row mt-3" *ngIf="working">
                                  <div class="col">
                                    <div class="progress">
                                      <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploadProgress + '%' }" [attr.aria-valuenow]="uploadProgress" aria-valuemin="0" aria-valuemax="100">{{ uploadProgress }}%</div>
                                    </div>
                                  </div>
                                </div>
                                <div class="row mt-3" *ngIf="uploadUrl?.length">
                                  <div class="col">
                                    <img [src]="uploadUrl" alt="preview" class="rounded shadow w-100">
                                  </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-md-3 control-label">Giá </label>
                                <div class="col-md-12">
                                    <input formControlName="price" name="price" class="form-control" id="translate_title"  type="number" placeholder="Giá">
                                    <span class="fst-italic text-danger input-validation"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-md-3 control-label">Giá khuyến mãi </label>
                                <div class="col-md-12">
                                    <input formControlName="promotionPrice" name="promotionPrice" class="form-control" id="translate_title"  type="number" placeholder="Giá khuyến mãi">
                                    <span class="fst-italic text-danger input-validation"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-md-3 control-label">Số lượng </label>
                                <div class="col-md-12">
                                    <input formControlName="quantity" name="quantity" class="form-control" id="translate_title"  type="number" placeholder="Số lượng">
                                    <span class="fst-italic text-danger input-validation"></span>
                                </div>
                            </div>
                            <!-- <div class="form-group">
                                <label  class="col-md-3 control-label">Hot </label>
                                <!-- <div class="col-md-12">
                                    <input formControlName="hot" name="hot" class="form-control" id="translate_title"  type="datetime" placeholder="Hot">
                                    <span class="fst-italic text-danger input-validation"></span>
                                </div> -->
                                <!-- <mat-form-field appearance="fill">
                                    <mat-label>Enter a date range</mat-label>
                                    <mat-date-range-input formControlName="hot"  [rangePicker]="picker">
                                      <input matStartDate formControlName="hot" placeholder="Start date">
                                      <input matEndDate formControlName="end" placeholder="End date">
                                    </mat-date-range-input>
                                    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-date-range-picker #picker></mat-date-range-picker>
                                  
                                    <mat-error *ngIf="range.controls.hot.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                                    <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
                                  </mat-form-field>
                                  
                                  <p>Selected range: {{range.value | json}}</p>
                            </div> -->
                          
                           <div class="form-group">
                            <label class="col-md-3 control-label">Free Ship</label>
                            <div class="col-md-12">
                                <section class="example-section" [formGroup]="hanldeFreeShip">
                          
                                    <p><mat-checkbox formControlName="isFreeship">Free Ship</mat-checkbox></p>
                                  
                                  </section>
                            </div>
                        </div>
                       <div class="flex_align_center ">
                        <div class="form-group">
                          <label  class=" control-label p15">Danh mục sản phẩm</label>
                          <div class="col-md-12">
                             
                              <mat-form-field appearance="fill">
                                  <mat-label>Chọn danh mục sản phẩm</mat-label>
                                  <mat-select disableRipple formControlName="cateID">
                                    <mat-option  *ngFor="let productCategory of listProductCategory" [value]="productCategory.cateID">{{productCategory.productCateName}}</mat-option>
                
                                  </mat-select>
                                </mat-form-field>
                          </div>
                          <span class="field-validation-valid" data-valmsg-for="collectiontranslate.urlredirect" data-valmsg-replace="true"></span>
                      </div>
                     
                      <div class="form-group">
                          <label  class=" control-label p15">Thương hiệu sản phẩm</label>
                          <div class="col-md-12">
                              <mat-form-field appearance="fill">
                                  <mat-label>Chọn thương hiệu</mat-label>
                                  <mat-select disableRipple formControlName="brandID">
                                    <mat-option *ngFor="let brand of listBrand" [value]="brand.brandID">{{brand.brandName}}</mat-option>
                
                                  </mat-select>
                                </mat-form-field>
                          </div>
                          <span class="field-validation-valid" data-valmsg-for="collectiontranslate.urlredirect" data-valmsg-replace="true"></span>
                      </div>
                    
                      <div class="form-group mb_supplier  ">
                          <label  class="control-label p15">Nhà cung cấp</label>
                          <div class="col-md-12">
                              
                              <mat-form-field appearance="fill">
                                  <mat-label>Chọn nhà cung cấp</mat-label>
                                  <mat-select disableRipple formControlName="supplierid">
                                    <mat-option *ngFor="let supplier of listSupplier" [value]="supplier.supplierID">{{supplier.supplierName}}</mat-option>
                
                                  </mat-select>
                                </mat-form-field>
                          </div>
                          <span class="field-validation-valid" data-valmsg-for="collectiontranslate.urlredirect" data-valmsg-replace="true"></span>
                      </div>
                       </div>
                            <div class="form-group">
                                <label  class="col-md-3 control-label">Chi tiết ngắn </label>
                                <div class="col-md-12">
                                    <form role="form" #myForm="ngForm" accept-charset="UTF-8" novalidate>
                                        <div class="form-group has-feedback" 
                                              [ngClass]="{ 'has-error': myckeditor.invalid && myckeditor.touched }">
                                            <ckeditor [(ngModel)]="mycontent" 
                                                    #myckeditor="ngModel"
                                                    name="myckeditor"
                                                    required
                                                    [config]="ckeConfig" 
                                                    debounce="500" 
                                                    (paste)="onPaste($event)"
                                                    (change)="onChange($event)">
                                            </ckeditor>
                                            <div *ngIf="myckeditor.invalid && myckeditor.touched" class="help-block text-danger" >Bắt buộc nhập *</div>
                                        </div>
                                        <!-- <button [disabled]="myForm.invalid" class="btn btn-primary">Save</button> -->
                                        </form>
                                </div>
                            </div>
                            <div class="form-group">
                                <label  class="col-md-3 control-label">Chi tiết sản phẩm </label>
                                <div class="col-md-12">
                                    <!-- <input formControlName="description" name="description" class="form-control" id="translate_title"  type="text" placeholder="Chi tiết sản phẩm">
                                    <span class="fst-italic text-danger input-validation"></span> -->
                                    <form role="form"  #myForm="ngForm" accept-charset="UTF-8" novalidate>
                                        <div class="form-group has-feedback" 
                                              [ngClass]="{ 'has-error': myckeditor2.invalid && myckeditor2.touched }">
                                            <ckeditor  [(ngModel)]="mycontent2"  
                                                    #myckeditor2="ngModel"
                                                    name="myckeditor2"
                                                    required
                                                    [config]="ckeConfig2" 
                                                    debounce="500"  
                                                    (paste)="onPaste($event)"
                                                    (change)="onChange($event)">
                                            </ckeditor>
                                          <div *ngIf="myckeditor2.invalid && myckeditor2.touched" class="help-block text-danger" >Bắt buộc nhập *</div>
                                        </div>
                                        <!-- <button [disabled]="myForm.invalid" class="btn btn-primary">Save</button> -->
                                        </form>
                                </div>
                             
                            </div>
                           
                       
                            
                            <!-- <div class="form-group">
                                <label class="col-md-3 control-label">Hình ảnh</label>
                                <div class="col-md-8" height="20px">
                                      <input class="m-2"  (change)="handleFileInput($any($event.target).files)" [disabled]="working" name="file"  type="file"  id="upload-banner"
                                                           accept=".jpeg,.png,.jpg,.gif,.svg" />
                                </div>
                            </div> -->
                       
                        </div>
                          <div class="card-footer text-right">
                                <div class="bu-group">
                                    <div class="form-group-center" id="text-center">
                                        <button type="submit" class="btn btn-success mr-2"><i class="fa fa-check"></i> Tạo mới </button>
                                        <a asp-action="Index"  asp-controller="Products" class="btn btn-danger text-white"><i class="fa fa-times"></i> Hủy bỏ</a>
                                    </div>
                                </div>
                          </div>
                         
                    </form>
               </div>
        
            </div>
            
            
        </div>
    </div>
</div>