
<div class="section-header">
    <h1>Danh sách bài viết</h1>
    <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a asp-action="Index" asp-controller="Home">Trang chủ</a></div>
        <div class="breadcrumb-item">bài viết</div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4>Danh sách bài viết</h4>
                <div class="card-header-action">
                    <a routerLink="/Blog/Add"  class="btn btn-info"><i class="fas fa-plus"></i> Thêm bài viết </a>
                    
                    <div class="dropdown show">
                        <a href="#" data-toggle="dropdown" class="btn btn-danger dropdown-toggle" aria-expanded="true">Hành động</a>
                        <ul class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                            <li><a class="dropdown-item delete-all" href="javascript:void(0);" data-url="/Admin/posts/DeleteAll">Xóa mục chọn</a></li>
                            <li>
                                <a class="dropdown-item updated-multiple" href="javascript:void(0);" data-url="/Admin/posts/UpdatedMultiple"
                                   data-type="status_processing">Mở xử lý mục chọn</a>
                            </li>
                            <li>
                                <a class="dropdown-item updated-multiple" href="javascript:void(0);" data-url="/Admin/posts/UpdatedMultiple"
                                   data-type="status_cancel">Hủy mục chọn</a>
                            </li>
                        </ul>
                    </div>

                    <form  [formGroup]="postFormSeach" class="search-form" autocomplete="off" asp-action="Index" asp-controller="posts" method="get">
                        <div class="input-group">
                            <mat-form-field appearance="fill">
                                <mat-label>Lọc theo</mat-label>
                                <mat-select formControlName="sorts">
                                  <mat-option *ngFor="let sort of listSort" [value]="sort.value +'_' + sort.typeSort">
                                    {{sort.name}}
                                </mat-option>
                            </mat-select>
                           
                              </mat-form-field>
                          
                        
                            <input type="text" autofocus formControlName="search" class="form-control" name="searchString"  placeholder="Từ khóa">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
                            </div>
                            
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-body p-0">
              
                
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                            <tr class="text-left">
                                <th scope="col">
                                    <div class="custom-checkbox custom-control">
                                        <input type="checkbox" class="custom-control-input" id="ckkAll">
                                        <label class="custom-control-label" for="ckkAll"></label>
                                    </div>
                                </th>
                                <th>Hình Ảnh</th>

                                <th scope="col" class="text-dark text-deconration-none">
                                    <a class="a-sort" href="">Tên bài viết <i class='fas fa-sort'></i></a>
                                </th>
                                <th scope="col">Liên kết</th>
                               
                                <th scope="col">Lượt xem</th>
                                <th scope="col">Danh mục</th>  
                               
                                <th scope="col">Hành động</th>
                            </tr>
                           
                                <tr *ngFor="let post of posts">
                                    
                                    <td>
                                        <div class="custom-checkbox custom-control">
                                            <input type="checkbox" class="custom-control-input chk-item" value="@item.ID" id="ckkAll_@item.ID">
                                            <label class="custom-control-label" for="ckkAll_@item.ID"></label>
                                        </div>
                                    </td>
                                   
                                        
                                            <td class="text-left">
                                                <img class="img-thumbnail" [src]="post.image" height="150" width="150" />
                                            </td>
                                      
                                            <td class="text-left">
                                               {{post.name}}
                                            </td>
                                          
                                       
                            
                                   
                                    <td class="text-left">
                                       {{post.slug}}
                                    </td>
                                  
                                    <td class="text-left">
                                        {{post.viewCount}}
                                    </td>
                                    <td class="text-left">
                                        {{post.postCateName}}
                                    </td>
                                    <td>
                                        <a style="width: 100%;" routerLink="/Blog/Edit/{{post.slug}}" class="btn btn-primary d-inline d-sm-block m-sm-1" data-toggle="tooltip" title="Sửa" data-placement="bottom"><i class="fas fa-pencil-alt"></i></a>
                                   <button style="width: 100%;" (click)="openDialogWithTemplateRef(myDialog,post.slug,post.name)" class="btn btn-danger  d-inline d-sm-block m-sm-1" data-toggle="tooltip" title="Xóa" data-placement="bottom"><i class="fas fa-trash"></i></button>
                                    </td>
                                </tr>

                                <ng-template #myDialog let-data>
                                    <h2 matDialogTitle>Xóa bài viết </h2>
                                    <mat-dialog-content>
                                      <p>Bạn có chắc muốn xóa bài viết  {{data.name}}</p>
                                    </mat-dialog-content>
                                    <mat-dialog-actions align="end">
                                        <button mat-button matDialogClose="no">Hủy</button>
                                      <button  mat-raised-button  color="warn"  matDialogClose  (click)="handleDelete(data.slug)" >Xóa</button>
                                    </mat-dialog-actions>
                                  </ng-template>
                        </tbody>
                    </table>
                    <div class="pt-4 pb-4" style="display: flex; align-items: center; justify-content:space-between;" >
                        <div class="">
                            <ul class="pagination pagination-circle pg-blue">
                               
                                <li class="page-item " (click)="OnActionPaging(false,currentPageNumber,pageSize)">
                                  <a class="page-link" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                  </a>
                                </li>
                                <li class="page-item " 
                                (click)="OnHandlePaging(i+1,pageSize)"
                                [ngClass]="i+1 == currentPageNumber ? 'active' : '' " *ngFor="let item of counter(totalPages);let i =index" ><a class="page-link">{{i+1}}</a></li>
                               
                                <li class="page-item" (click)="OnActionPaging(true,currentPageNumber,pageSize)">
                                  <a class="page-link" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                  </a>
                                </li>
                               
                              </ul>
                        </div>
                        <mat-paginator [length]="totalRecord"
                        [pageSize]="pageSize"
                        (page)="handlePageEvent($event)"
                        [length]="totalRecord"
                        [disabled]="disabled"
                        [pageSizeOptions]="listPageSize "
                        aria-label="Select page">
                  </mat-paginator>
                    </div>
                   
        
                </div>
                
            </div>


          

        </div>
    </div>
</div>

<!-- <button mat-raised-button (click)="openDialog('0ms', '0ms')">Open dialog without animation</button> -->