<div class="section-header">
    <h1>Tạo Mới</h1>
    <div class="section-header-breadcrumb">
        <div class="breadcrumb-item active"><a href="#">Trang chủ</a></div>
        <div class="breadcrumb-item">Tạo mới</div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card shadow">
            <div class="card-header">
                <h4>Thông tin thương hiệu</h4>
            </div>
            <div class="row">
    
               <div class="col-md-12">
                   <form  [formGroup]="brandFormEdit" method="post" (ngSubmit)="HanldeEditupload()" class="form-horizontal row-border" method="post" enctype="multipart/form-data">
                       
                        <div class="card-body">
                            <input name="__requestverificationtoken" type="hidden" value="blxlgjcghizjz3y8iyphk08-dc-lydjgnftb_laceseoovelgurch9vpjsolqxhp-veyogmiiez2b-fte3d7mc8ehgik1ptjzgt5fcxim_cdxamdljj0ylqzuyt2lbmv0">                        
                            <div class="form-group">
                                <label asp-for="brandName" class="col-md-3 control-label">Tên thương hiệu</label>
                                <div class="col-md-12">
                                    <input asp-for="brandName" formControlName="brandName" name="brandName" class="form-control" id="translate_title"  type="text" placeholder="Tên thương hiệu">
                                    <span asp-validation-for="Title" class="fst-italic text-danger input-validation"></span>
                                </div>
                            </div>
                          
                         
                            <div class="form-group">
                                <label class="col-md-3 control-label">Hình ảnh</label>
                                <div class="col-md-8" height="20px">
                                      <input class="m-2"  (change)="handleFileInput($any($event.target).files)" [disabled]="working" name="file"  type="file"  id="upload-banner"
                                                           accept=".jpeg,.png,.jpg,.gif,.svg" />
                                </div>
                            </div>
                            <div class="row mt-5">
                                <div class="col">
                                  <div class="custom-file">
                                    <input type="file"  class="custom-file-input" id="customFile" (change)="handleFileInput($any($event.target).files)" [disabled]="working">
                                    <label class="custom-file-label" for="customFile">{{ uploadFileLabel }}</label>
                                  </div>
                                </div>
                                <div class="col-auto pl-sm-0">
                                  <button type="button" class="btn btn-outline-primary" ngbTooltip="Upload" (click)="HanldeEditupload()" [disabled]="working">Upload</button>
                                </div>
                              </div>
                              <div class="row mt-3" *ngIf="working">
                                <div class="col">
                                  <div class="progress">
                                    <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploadProgress + '%' }" [attr.aria-valuenow]="uploadProgress" aria-valuemin="0" aria-valuemax="100">{{ uploadProgress }}%</div>
                                  </div>
                                </div>
                              </div>
                              <div></div>
                              <div class="row mt-3" *ngIf="uploadUrl?.length">
                                <div class="col">
                                  <img [src]="uploadUrl" alt="preview" class="rounded shadow w-100">
                                </div>
                              </div>
                        </div>
                          <div class="card-footer text-right">
                                <div class="bu-group">
                                    <div class="form-group-center" id="text-center">
                                        <button type="submit" class="btn btn-success mr-2"><i class="fa fa-check"></i> Tạo mới </button>
                                        <a asp-action="Index"  asp-controller="Products" class="btn btn-danger text-white"><i class="fa fa-times"></i> Hủy bỏ</a>
                                    </div>
                                </div>
                          </div>
                    </form>
               </div>
        
            </div>
            
            
        </div>
    </div>
</div>